<footer class="footer py-3 mt-auto bg-dark" data-bs-theme="dark">
    <div class="container">
        <span class="text-muted">Friedrich-Alexander-Universität / Erlangen-Nürnberg - 2024</span>
    </div>
</footer>