<footer class="footer py-3 mt-auto bg-dark" data-bs-theme="dark">
  <div class="container footer-container mt-4 mb-3">
    <div class="footer-col">
      <div class="footer-logo">
        <a href="https://www.rph1.rw.fau.de/"><img src="/images/fau-logo-footer-white.png" class="card-img-top" alt=""></a>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-menu">
        <h5>MENU</h5>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/statements">Statements</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/staff">Staff</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-menu">
        <h5>ADDRESS</h5>
        <p>Schillerstr. 1</p>
        <p>91054 Erlangen</p>
        <p>Germany</p>


      </div>
    </div>
    <div class="footer-col">
      <div class="footer-menu">
        <h5>CONTACT</h5>
        <p>Phone: +49 9131 85-22260 </p>
        <p>Email: voelkerrecht@fau.de</p>
      </div>
    </div>
  </div>
  <div class="container">
    <span class="text-muted">Friedrich-Alexander-Universität / Erlangen-Nürnberg - 2024</span>
  </div>
</footer>