<footer class="footer py-3 mt-auto bg-dark" data-bs-theme="dark">
  <div class="container footer-container mt-4 mb-3">
    <div class="footer-col">

    </div>
    <div class="footer-col"></div>
    <div class="footer-col"></div>
  </div>
  <div class="container">
    <span class="text-muted">Friedrich-Alexander-Universität / Erlangen-Nürnberg - 2024</span>
  </div>
</footer>