body {
    background-color: #04316a;
}

main {
    border-radius: 10px;
}

.link-container {
    display: inline-block;
    text-decoration: none;
    /* Remove default underline from text */
    color: #000;
    /* Set the text color (customize as needed) */
}

.link-container h5 {
    font-weight: 600;
    /* Underline the h5 when the parent div is hovered */
}

/* Style the h5 element when the parent div is hovered */
.link-container:hover h5 {
    text-decoration: underline;
    /* Underline the h5 when the parent div is hovered */
}

.issue-tag,
.title-tag,
.summary-tag {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 4px;
    color: #06489b
}

.return-link {
    text-decoration: none;
    /* Remove default underline from text */
    color: #000;
}

.return-link:hover {
    text-decoration: underline;
    /* Underline the h5 when the parent div is hovered */
}

.statement-title {
    color: #04316a;
    font-weight: 700;
    line-height: 35px;
}

.statement-description {
    font-weight: 600;
    line-height: 28px;
}

.statement-summary {
    font-size: large;
    font-weight: 400;
    line-height: 28px;
}

.accordion-button {
    font-weight: 500;
    font-size: 20px
}

.subfilter-accordion-text {
    font-weight: 600;
    font-size: 18px
}

#filters-container {
    background-color: #cfe2ff;
}

.btn-dark-blue {
    background-color: #06489b;
    color: #fff
}

.btn-dark-blue:hover {
    background-color: #04316a;
    color: #fff
}

.btn-hide-filters {
    color: #222222;
    font-weight: 600;
}

.btn-hide-filters:hover {
    text-decoration: underline;
}

p,
h3,
.statement-summary,
.statement-description,
.statement-title {
    text-align: justify;
}

.ts-dropdown,
.active {
    border-radius: 6px;
}

.ts-control {
    border-radius: 6px;
}

.ts-wrapper.multi .ts-control>div {
    border-radius: 5px;
    color: #fff;
    background-color: #06489b;

}

.clear-button {
    color: #04316a;
}

.leaflet-tile-pane {
    background-color: blue;
}

.info-box {
    background-color: #dfeafd;
    border: 1px solid #04316a;
    border-radius: 10px;
}

.info-box-ul {
    columns: 2;
    list-style: none;
    margin-bottom: 0;
}

li {
    margin-bottom: 30px;
}

li strong {
    font-weight: bold;
    display: block;
}

@media (max-width: 767px) {
    #map {
        display: none;
    }
}

.staff-card {
    transition: box-shadow 0.3s ease;
    
}

.staff-card:hover {
    box-shadow: 0 0 15px rgba(54, 54, 54, 0.5);
}


.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.staff-card-body, .staff-card-body p {
    text-align: center;
}

.staff-name:hover {
    text-decoration: underline;
}

.staff-name a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
    
.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-col {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
}

.footer-container