<% layout('layouts/boilerplate') %>


    <div class="mb-5 offset-1">
        <h1>All Statements</h1>
        <a href="/statements/new">Create new Statement</a>
        <% for (let statement of statements){ %>
            <div class="card w-50 mt-3 ">
                <div class="card-header">
                    <%= statement.location %>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= statement.title %>
                    </h5>
                    <p class="card-text">
                        <%= statement.summary %>
                    </p>
                    <a href="/statements/<%= statement._id %>" class="btn btn-outline-primary">Show Statement</a>
                </div>
            </div>
            <% } %>
    </div>