<% layout('layouts/boilerplate') %>


<div class="container-fluid col-9 mx-auto mt-5 mb-5">

  <h1 class="mb-3"><b>Our Team</b></h1>
  <h2 class="mb-5">Meet the team behind the project</h2>

  <div class="d-flex flex-wrap gap-3" id="staff-container">
    <div class="card staff-card" style="width: 18rem;">
      <img src="/images/avatar-mar.jpg" class="card-img-top" alt="Photo of Professor Markus">
      <div class="card-body staff-card-body">
        <h5 class="card-title staff-name"><a href="https://www.rph1.rw.fau.de/lehrstuhlteam-voelkerrecht/prof-dr-markus-krajewski/">Markus Krajewski</a></h5>
        <p class="card-text">Professor</p>
      </div>
    </div>

    <div class="card staff-card" style="width: 18rem;">
      <img src="/images/avatar-otg.jpg" class="card-img-top" alt="Photo of Researcher Otgontuya">
      <div class="card-body staff-card-body">
        <h5 class="card-title staff-name"><a href="https://www.rph1.rw.fau.de/person/otgontuya-davaanyam/">Otgontuya Davaanyam</a></h5>
        <p class="card-text">Research Associate</p>

      </div>
    </div>

    <div class="card staff-card" style="width: 18rem;">
      <img src="/images/avatar-kat.jpg" class="card-img-top" alt="Photo of Researcher Kateryna">
      <div class="card-body staff-card-body">
        <h5 class="card-title staff-name"><a href="https://www.rph1.rw.fau.de/person/kateryna-buriakovska/">Kateryna Buriakovska</a></h5>
        <p class="card-text">Postdoc Researcher</p>

      </div>
    </div>

    <div class="card staff-card" style="width: 18rem;">
      <img src="/images/avatar-lui.jpg" class="card-img-top" alt="Photo of Researcher Luise">
      <div class="card-body staff-card-body">
        <h5 class="card-title staff-name"><a href="https://www.rph1.rw.fau.de/person/luise-michael/">Luise Michael</a></h5>
        <p class="card-text">Student Assistant</p>

      </div>
    </div>

    <div class="card staff-card" style="width: 18rem;">
      <img src="/images/avatar-mlo.jpg" class="card-img-top" alt="Photo of Researcher Marie-Louise">
      <div class="card-body staff-card-body">
        <h5 class="card-title staff-name"><a href="https://www.rph1.rw.fau.de/person/marie-louise-boehler/">Marie-Louise Böhler</a></h5>
        <p class="card-text">Student Assistant</p>

      </div>
    </div>

    <div class="card staff-card" style="width: 18rem;">
      <img src="/images/avatar-dru.png" class="card-img-top" alt="Photo of Software Engineer Diego">
      <div class="card-body staff-card-body">
        <h5 class="card-title staff-name"><a href="https://www.diegodru.com">Diego Salvador</a></h5>
        <p class="card-text">Software Engineer</p>

      </div>
    </div>
  </div>
</div>