<% layout('layouts/boilerplate') %>


<div class="container-fluid col-9 mx-auto mt-5 mb-5">

  <h1><b>Our Team</b></h1>

  <div class="d-flex flex-wrap gap-3" id="staff-container">
    <div class="card" style="width: 18rem;">
      <img src="/images/avatar-mar.jpg" class="card-img-top" alt="Photo of Professor Markus">
      <div class="card-body">
        <h5 class="card-title">Professor Markus</h5>
        <p class="card-text">Human Rights Professor</p>
        <a href="https://www.rph1.rw.fau.de/lehrstuhlteam-voelkerrecht/prof-dr-markus-krajewski/" class="btn btn-primary">More about him</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/images/avatar-otg.jpg" class="card-img-top" alt="Photo of Researcher Otgontuya">
      <div class="card-body">
        <h5 class="card-title">Otgontuya Davaanyam</h5>
        <p class="card-text">Research Associate</p>
        <a href="https://www.rph1.rw.fau.de/person/otgontuya-davaanyam/" class="btn btn-primary">More about her</a>
      </div>
    </div>
  </div>
</div>